.novel-hero{
display:flex;
gap:60px;
padding:100px 80px;
align-items:center;
}

.novel-cover{
width:320px;
height:450px;

border-radius:20px;

background:linear-gradient(
135deg,
#7C3AED,
#22D3EE
);
}

.novel-info{
max-width:700px;
}

.novel-info h1{
font-size:60px;
margin-bottom:20px;
}

.badges{
display:flex;
gap:15px;
margin-bottom:20px;
}

.badges span{
padding:10px 20px;
background:#111827;
border-radius:50px;
}

.novel-description{
font-size:20px;
line-height:1.8;
color:#cbd5e1;
margin-bottom:30px;
}

.novel-stats{
display:flex;
gap:50px;
margin-bottom:40px;
}

.novel-stats h3{
font-size:30px;
color:#22D3EE;
}

.novel-actions{
display:flex;
gap:20px;
}

.chapters-section{
padding:0 80px 100px;
}

.chapters-section h2{
margin-bottom:30px;
}

.chapter-list{
display:flex;
flex-direction:column;
gap:15px;
}

.chapter-item{
padding:20px;
background:#111827;
border-radius:15px;
cursor:pointer;
transition:.3s;
}

.chapter-item:hover{
background:#1f2937;
}