body{

margin:0;

background:#0f172a url("../images/profile-bg.jpg") center/cover fixed;

font-family:Poppins,sans-serif;

color:#fff;

}

.premium-container{

max-width:1200px;

margin:auto;

padding:50px 20px;

}

.plans{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(300px,1fr));

gap:25px;

margin-top:40px;

}

.plan{

background:#fff;

border-radius:20px;

padding:25px;

max-width:340px;

margin:auto;

min-height:430px;

display:flex;

flex-direction:column;

justify-content:space-between;

}

.plan h2{

color:#6D28D9;

margin-bottom:15px;

}

.price{

font-size:42px;

font-weight:700;

margin:20px 0;

}

.plan button{

width:100%;

padding:16px;

border:none;

border-radius:12px;

background:linear-gradient(90deg,#7c3aed,#9333ea);

color:#fff;

font-size:18px;

font-weight:700;

cursor:pointer;

transition:.3s;

}

.plan button:hover{

transform:translateY(-2px);

}

.popular-badge{

background:#f59e0b;

color:#fff;

padding:8px 16px;

border-radius:30px;

display:inline-block;

font-size:13px;

font-weight:700;

margin-bottom:15px;

}

