.progress-container{
position:fixed;
top:90px;
left:0;
width:100%;
height:5px;
background:#111827;
z-index:999;
}

#progressBar{
height:100%;
width:0%;
background:#22D3EE;
}

.reader-container{
max-width:900px;
margin:auto;
padding:120px 20px;
}

.reader-container h1{
font-size:50px;
margin-bottom:30px;
}

.reader-tools{
display:flex;
gap:15px;
margin-bottom:40px;
flex-wrap:wrap;
}

.reader-tools button{
padding:12px 20px;
border:none;
border-radius:10px;
background:#111827;
color:white;
cursor:pointer;
}

.chapter-content{
font-size:24px;
line-height:2;
color:#e2e8f0;
}

.chapter-content p{
margin-bottom:30px;
}

.chapter-navigation{
display:flex;
justify-content:space-between;
margin-top:60px;
}

body.light-mode{
background:#ffffff;
color:#111827;
}

body.light-mode .chapter-content{
color:#111827;
}

body.dark-mode{
background:#0B1120;
color:white;
}

body.dark-mode .chapter-content{
color:#e2e8f0;
}

.chapter-content{
max-width:800px;
margin:auto;
}

