.wallet-container{

max-width:1400px;

margin:auto;

padding:50px 20px;

}

.wallet-container h1{

font-size:52px;

margin-bottom:40px;

color:#fff;

font-weight:700;

}

.wallet-card{

display:grid;

grid-template-columns:repeat(2,1fr);

gap:20px;

margin-top:25px;

}

.wallet-box{

background:rgba(255,255,255,.08);

backdrop-filter:blur(18px);

border:1px solid rgba(255,255,255,.08);

border-radius:15px;

padding:25px;

box-shadow:0 8px 25px rgba(0,0,0,.08);

}

.wallet-box h2{

margin:0;

font-size:18px;

color:#ddd;

}

.wallet-box h3{

margin-top:15px;

font-size:34px;

color:#9b6cff;

}

.wallet-actions{

margin:30px 0;

display:flex;

gap:15px;

flex-wrap:wrap;

}

.wallet-actions button{

padding:12px 25px;

border:none;

border-radius:10px;

cursor:pointer;

background:#6d28d9;

color:#fff;

font-size:15px;

}

.wallet-actions button:disabled{

background:#bdbdbd;

cursor:not-allowed;

}

.wallet-summary{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:20px;

margin-bottom:35px;

}

.summary-box{

background:#fff;

padding:20px;

border-radius:15px;

box-shadow:0 5px 18px rgba(0,0,0,.08);

text-align:center;

}

.summary-box span{

display:block;

color:#666;

margin-bottom:10px;

}

.summary-box strong{

font-size:28px;

color:#6d28d9;

}

.transaction-section{

background:rgba(255,255,255,.08);

backdrop-filter:blur(18px);

color:#fff;

padding:25px;

border-radius:15px;

box-shadow:0 15px 40px rgba(0,0,0,.35);

}

.transaction{

display:flex;

justify-content:space-between;

padding:18px 0;

border-bottom:1px solid #eee;

}

.transaction:last-child{

border-bottom:none;

}

.credit{

color:#0b8f4d;

font-weight:bold;

}

.debit{

color:#d32f2f;

font-weight:bold;

}

@media(max-width:768px){

.wallet-card,

.wallet-summary{

grid-template-columns:1fr;

}

}